<div id="wrapper">
	<header id="left-column">
		<nav id="main_navi">
			<ul>
				<%= menu("home","ホーム", whispers_path) %>
				<%= menu("topic","話題を検索",whispers_path) %>
				<%= menu("notice","通知",whispers_path) %>
				<%= menu("mail","メッセージ",whispers_path) %>
				<%= menu("bookmark","ブックマーク",whispers_path) %>
				<%= menu("list","リスト",whispers_path) %>
				<%= menu("profile","プロフィール",whispers_path) %>
				<%= menu("more","もっと見る",whispers_path) %>
				<li><div id="whispe_L" class="modal">Whisper</div></li>
			</ul>
		</nav>
	</header>
	<div id="main_contents">
		<div id="center-column">
			<div id="notice"><%= notice %></div>
			<div id="whisp_logs">
				<ul >
					<% @whisper_logs.each do |logs| %>
					<li>
						<div class="log_left"></div>
						<div class="log_right">
							<div class="log_header">
								<a><%= @user_name %></a>
							</div>
							<div class="content"><p><%= logs.comment %></p></div>
							<div class="log_footer">
								<div>
									<a href="<%= whisper_path(logs.id) %>" class="hover_blue">
										<%= embedded_svg("monitor.svg", class: "menu_icon") %>
									</a>
								</div>
								<div>
									<a href="<%= edit_whisper_path(logs.id) %>" class="hover_green">
										<%= embedded_svg("edit.svg", class: "menu_icon") %>
									</a>
								</div>
								<div>
									<a href="<%= whisper_path(logs.id) %>" data-method="delete" class="hover_pink">
										<%= embedded_svg("delete.svg", class: "menu_icon") %>
									</a>
								</div>
								<div>
									<a class="hover_blue">
										<%= embedded_svg("upload.svg", class: "menu_icon") %>
									</a>
								</div>
							</div>
						</div>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div id="right-column">
			right
			<nav>
			</nav>
		</div>
	</div>
</div>
<div id="modal" style="display:none;">
	<div id="modal_whisper">
		<div class="close_box">
			<p class="modal_close">×</p>
		</div>
		<div id="modal_content">
			<%= form_with(model: @whisper, url: confirm_whispers_path, local: true ) do |form| %>
			<div class="log_left">
				<%= embedded_svg("profile.svg", class: "menu_icon") %>
			</div>
			<div class="log_right">
				<div class="content">
					<%= form.text_area :comment, placeholder:"いまどうしてる？" %>
				</div>
			</div>
			<div class="log_footer">
				<div class="icons"><div>
				<%= form.submit class:"hiddenBtn" %>
				<a class="whisp_submit">Whisper</a>
			</div>
			<% end %>
		<div>
	</div>
</div>
