<!DOCTYPE html>
<html>
  <head>
    <title>Whisper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
  		$(function() {
  			$('.modal').modaal({
  				overlay_opacity: 0.3,
  				overlay_close: 'false',
  				animation: 'none',
          content_source: '#modal'
  			});
        $('.whisp_submit').on("click", function(){
          $('.hiddenBtn').click();
  			});
  			$('.modal_close').on("click", function(){
  				$('.modal').modaal('close');
  			});
  			autosize($('textarea'));
  		});
  	</script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
